<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.gamedr">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gamedr"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".MatchedProfile"
            android:exported="false" />
        <activity
            android:name=".DirectMessageHub"
            android:exported="false" />
        <activity
            android:name=".SeekerChronicle"
            android:exported="false" />
        <activity
            android:name=".GlobalForum"
            android:exported="false" />
        <activity
            android:name=".DirectMessageChat"
            android:exported="false" />
        <activity
            android:name=".GamedrLogin"
            android:exported="false" />
        <activity
            android:name=".GamedrCreateAccount"
            android:exported="false" />
        <activity
            android:name=".GamedrEnterScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RadarActivity" />
        <activity android:name=".MatchsetActivity" />
        <activity android:name=".MatcherActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".UserProfile" />
        <activity android:name=".MatchListActivity" />
        <activity android:name=".matchChronicle" />
        <activity android:name=".reportUser" />
        <activity android:name=".ReportList" />
        <activity android:name=".reportedDisplay" />
        <activity android:name=".matchChroniclePair" />
        <activity android:name=".MatchlistSelector" />
        <activity android:name=".MainForum" />
    </application>

</manifest>